





<div class="row row-sm">

  <div class="col-lg-4">
    <div class="card custom-card m-2">
      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card custom-card m-2">
      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card custom-card m-2">
      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card custom-card m-2">
      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card custom-card m-2">
      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card custom-card m-2">
      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>
  </div>


</div>
