





<div class="row row-sm">

  <div class="col-lg-4" *ngFor="let category of categoryList">
    <div class="card custom-card m-2">
      <div class="card-header bg-dark text-white">
        <h5 class="card-title">{{category.name}}</h5>
      </div>

      <div class="card-body">
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
        <p class="card-text">sit amet consictetur...</p>
      </div>
    </div>


  </div>




</div>
